@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: hsl(0, 21%, 95%);
    overflow-x: hidden;
}

h2 span {
    color: #f96b4d;
}

tbody td {
    padding: 5px 5px 5px 15px;
}

thead td {
    padding: 5px 5px 5px 15px;
}

tfoot td {
    padding: 5px 5px 5px 15px;
}